body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
}


header {
    background-color: black;
    padding: 20px;
    color: lightgreen;
}

footer {
    font-style: italic;
    text-align: right;
}

table thead tr {
    font-weight: bold;
}

table {
    width: 100%;
}
