body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
}


header {
    background-color: black;
    padding: 20px;
    color: lightgreen;
}

footer {
    font-style: italic;
    text-align: right;
}

table thead tr {
    font-weight: bold;
}

table {
    width: 100%;
}

span {
    background-color: darkred;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
}

.new-sup {
    background-color: yellow;
    color: red;
    padding: 2px;
    border-radius: 2px;
}



